<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>오션투유카라반</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/reset.css">
	
	<!--css-->
<!--
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/caravan/common.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/caravan/init.css">
-->
	<link rel="stylesheet" href="../static/css/caravan/common.css">
	<link rel="stylesheet" href="../static/css/caravan/init.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!--
	<script src="http://static.ocean2you.co.kr/js/caravan/common.js"></script>
	<script src="http://static.ocean2you.co.kr/js/caravan/init.js"></script>
-->
	<script src="../static/js/caravan/common.js"></script>
	<script src="../static/js/caravan/init.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

	<div class="wrapper">
		
		<header class="header">
			<div class="wrap">
				<h1 class="logo"><a href=""><img src="../../img/caravan/common/logo.png" alt="오션투유 카라반 로고"> <span class="skip">오션투유 카라반 속초고성점</span></a></h1>
				<div class="area container">
					<nav class="gnb">
						<ul class="menu cf">
							<li class="item-1"><a href="javascript:;">카라반 소개</a></li>
							<li class="item-2"><a href="javascript:;">오시는 길</a></li>
							<li class="item-3"><a href="reservation/index.html">예약하기</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="contents">
		
			<section class="wrap main">
				<h2 class="hidden">속초 동해 카라반 호텔</h2>
				<div class="title-area">
					<img src="../../img/caravan/title.png" alt="속초동해카라반호텔" class="title">
					<img src="../../img/caravan/ribbon.png" alt="삼포해변 바로 앞에서 즐기는 낭만 이야기" class="ribbon">
				</div>
				<div class="cloud-area">
					<img src="../../img/caravan/cloud_left.png" alt="구름좌측" class="cloud-left">
					<img src="../../img/caravan/cloud_right.png" alt="구름우측" class="cloud-right">
				</div>
				<div class="bird-area">
					<img src="../../img/caravan/bird_left.png" alt="새좌측" class="bird-left">
					<img src="../../img/caravan/bird_right.png" alt="새우측" class="bird-right">
				</div>
				<div class="wave-area">
					<figure class="wave"></figure>
				</div>
				<div class="bottom-area">
					<img src="../../img/caravan/car.png" alt="카라반" class="car">
					<img src="../../img/caravan/parasol.png" alt="파라솔" class="parasol">
				</div>
				<div class="gless-area">
					<img src="../../img/caravan/gless_left.png" alt="잔디좌측" class="gless-left">
					<img src="../../img/caravan/gless_right.png" alt="잔디우측" class="gless-right">
				</div>
			</section>
			
			<div class="modal-container">
				<section class="wrap about cmPadding">
					<a href="javascript:;" class="xBtn"><span class="hidden">닫기</span></a>
					<h2 class="cmH2">
						<img src="http://img.ocean2you.co.kr/karaoke/oc2you.png" alt="오션투유">
						<span>삼포해변 카라반</span>
					</h2>
					<div class="area">
						<div class="p-1">
							마음까지 시원해지는 오션뷰 카라반 호텔<br>
							행복한 여행과 드넓은 바다가 만나는 환상적인 힐링 테마<br>
							항상 마음속에 간직했던 아름답고 시원한 여행을 현실로 만나세요!
						</div>
						<ul class="about-list cf">
							<li class="li-1"><img src="http://via.placeholder.com/220x220/fff" alt="사진"></li>
							<li class="li-2"><img src="http://via.placeholder.com/220x220/fff" alt="사진"></li>
							<li class="li-3"><img src="http://via.placeholder.com/220x220/fff" alt="사진"></li>
						</ul>
					</div>
				</section>
				<section class="wrap waycome cmPadding">
					<a href="javascript:;" class="xBtn"><span class="hidden">닫기</span></a>
					<h2 class="hidden">오시는 길</h2>
					<div class="area">
						<p class="p-1 f-bd">간성시외버스터미널 하차시</p>
						<p class="p-1">신안리 정류장에서 1번, 1-1버스 승차, 삼포리정류장에서 하차, 105m 이동</p>
						<p class="p-1 f-bd">속초시외버스터미널 하차시</p>
						<p class="p-1">한국전력 정류장에서 1번, 1-1번 버스 승차, 삼포리정류장에서 하차, 105m 이동</p>
						<p class="p-1 f-bd">속초고속버스터미널 하차시</p>
						<p class="p-1">속초 고속버스터미널 정류장 1번, 1-1번 버스 승차, 삼포리정류장에서 하차, 105m 이동</p>
						
						<div class="map">
							<img src="../../img/caravan/map.jpg" alt="오션투유리조트설악비치 호텔앤 콘도 지도">
							<a href="http://map.daum.net/?urlX=834733&urlY=1340772&itemId=616076052" target="_blank" class="link"><img src="http://img.ocean2you.co.kr/karaoke/btn_map_bigger.jpg" alt="크게보기"></a>
						</div>
					</div>
				</section>
			</div>
			
			<footer class="footer">
				<div class="wrap container">
					<figure class="flt-1 logo"><img src="../../img/caravan/common/logo_f.png" alt="오션투유카라반로고"></figure>
					<div class="flt-2">
<!--
						<ul class="list-terms cf">
							<li><a href="">이용약관</a></li>
							<li class="mg">ㅣ</li>
							<li><a href="">개인정보처리방침</a></li>
						</ul>
-->
						<address>
							(주)네오위즈 삼포지점<br>
							대표자 : 문병일      <br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9      <br>
							사업자등록번호 : 166-85-00501   통신판매업 : 제 2017-서울강남-03362호<br>
							<small>copyright @ (주)네오위즈 삼포지점 All right reserved</small>
						</address>
					</div>
					<div class="call">
						단체이용 및 전화문의
						<span class="callNum">010-4429-0250</span>
						(주중/주말 20시까지)
					</div>
				</div>

				<a href="javascript:;" class="footerBtn"></a>
			</footer>
		</div>
		
		
		<a href="javascript:;" id="goTop" class=""><img src="../../img/renew/goTop.jpg" alt="위로"></a>
		
	</div>	
		
</body>
</html>